spring:
  profiles:
    active:
    - dev
---
spring:
  profiles: dev
  application:
    name: cloud-config-center-3344-dev
---
spring:
  profiles: test
  application:
    name: cloud-config-center-3344-test